main{
    font-weight: 100;
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;

    section{
        margin: 0;
    }

    .titulo-producto{
        list-style: none;
        text-align: center;
        margin-top: 30px;
        cursor: pointer;
        padding-left: 0px;

        a{
            text-decoration: none;
            color: $dark;
            font-size: 1.5rem;
        }

        a:hover{
            color: $color-logo;
            font-weight: bold;
            border-bottom: 2px solid $color-logo;
        }
    }

    .container-cards{
        display: flex;
        justify-content: center;
        margin-left: 60px;
        margin-right: 60px;

        .card{
            margin-left: 2px;
            margin-right: 2px;
            margin-top: 10px;
            margin-bottom: 30px;
            border-radius: 6px;
            transition: ease-in .4s;

            .card-body{
                font-weight: 50;
                font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
                

                img{
                    border-radius: 6px;
                }

                .title-p{
                    font-size: $lg;
                    margin: 4px;
                    text-align: center;
                    color: $color-logo;
                }
                
                .title-c{
                    margin: 8px;
                    text-align: center;
                    color: $black;
                }

                .btn-compra{
                    display: flex;
                    border: 1px solid $dark;
                    color:$dark;
                    place-content: center;
                    padding: 6px;
                    border-radius: 8px;
                    text-decoration: none;
                }

                .btn-compra:hover{
                    color: $white;
                    background-color: $color-logo;
                    font-weight: bold;
                    border-bottom: 2px solid $color-logo;
                      
                }

                .btn-carrito{
                    display: flex;
                    padding: 0px;
                    width: 26px;
                    margin-right: 12px;
                }
            }
        }
    }

    .card:hover{
        scale: (.9); 
    }
 
.videos{

        .video{
            margin: 10px;
        }
    }

    @media only screen and (max-width: 600px) {
        .videos {
          width: 100%;

          .video{
            width: 100%;
            margin: 0%;
            margin-bottom: 30px;
          }
        }
      }

      @media only screen and (max-width: 600px) {
      .card:hover {
        background: none
    }
}
   
}
